
<div class="centerFlex" >
    <mat-card  >
    <mat-toolbar  color="accent">
        <span style="padding-left: 144px;">Sign Up</span>
      </mat-toolbar>
      <mat-card-content>
      <form  [formGroup]="signupForm" (ngSubmit)="signup()" >
        
        <mat-form-field style="width: 400px;padding-top: 21px">
            <mat-label>Enter Username</mat-label>
            <input matInput autocomplete="off" formControlName="name" />
          
          </mat-form-field><br>

        <mat-form-field style="width: 400px;">
          <mat-label>Enter your Email</mat-label>
          <input matInput autocomplete="off" formControlName="email" />
        
        </mat-form-field>
        <br>
        <mat-form-field  style="width: 400px;">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button><br>
        </mat-form-field>
        <br>
        <!-- <a style="color: blue;padding-left: 277px" [routerLink]="'/educator'">Forgot Password?</a><br> -->
        <!-- <mat-form-field style="width: 400px;padding-bottom: 16px">
            <mat-label>Password</mat-label>
            <input matInput type="password" autocomplete="off" formControlName="password" />
          
          </mat-form-field> -->
          <!-- <br> -->
          <!-- <div style="display: inline-block;padding-right: 10px;">
            
          <button mat-raised-button type="submit"  style="width: 180px" color="primary" >login</button>
          </div> -->
          <div style="display: inline-block; padding-left: 88px;">
          <button mat-raised-button type="button" (click)="signup()" style="width: 210px"  color="primary" >signup</button>
        </div>
        </form>
    </mat-card-content>
    </mat-card>
</div>

<!--[disabled]="!loginForm.valid"-->
